[Unit]
Description=WAF WhatsApp Bot Daemon Service
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=simple
User=admin
WorkingDirectory=/home/admin/waf
ExecStart=/home/admin/.nvm/versions/node/v24.18.0/bin/node /home/admin/waf/dist/index.js
Restart=no
Environment=NODE_ENV=production
Environment=PATH=/home/admin/.nvm/versions/node/v24.18.0/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

[Install]
WantedBy=multi-user.target
